<mat-toolbar class="text-white bg-primary">
  <span>Guias</span>
  <span class="fill-remaining-space"></span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content>
  <div class="d-flex">
    <div class="p-2 flex-grow-1">
      <form  [formGroup]="guiaform">
        <div class="" *ngIf="new">
          <div class="row">
            <div class="col">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label fw-bold">Cliente:</label>
                <div class="col-sm-10">
                  <select class="form-select form-select-sm" (change)="select($event)" formControlName="idclient" [ngClass]="{'is-invalid': isvalid('idclient'), 'is-valid': guiaform.get('idclient').valid }">
                    <option value="">Selecione ...</option>
                    <option *ngFor="let item of clients" [value]="item.idclient">({{ item.identificationcard }}) {{ item.names }}</option>
                  </select>
                  <small class="form-text text-danger" *ngIf="isvalid('idclient') || false">
                    {{ getErrorMessage('idclient') }}
                  </small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label fw-bold">Nombre:</label>
                <div class="col-sm-10">
                  <input type="text" readonly="" formControlName="names" class="form-control form-control-sm" placeholder="cliente">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label fw-bold">Salidad:</label>
                <div class="col-sm-10">
                  <input type="text" readonly="" class="form-control form-control-sm" formControlName="location" placeholder="Salidad">
                  <small class="form-text text-danger" *ngIf="isvalid('location') || false">
                    {{ getErrorMessage('location') }}
                  </small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label fw-bold">Destino:</label>
                <div class="col-sm-10">
                  <input type="text" readonly="" class="form-control form-control-sm"  formControlName="destinations" placeholder="Destino">
                  <small class="form-text text-danger" *ngIf="isvalid('destinations') || false">
                    {{ getErrorMessage('destinations') }}
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8">
            </div>
            <div class="col-sm-4">
              <mat-radio-group formControlName="status">
                <mat-radio-button class="example-margin" [value]="true">Principal</mat-radio-button>
                <mat-radio-button class="example-margin" [value]="false">Secundario</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="p-2">
      <button type="button" (click)="New(new)" class="btn btn-outline-success btn-sm">
        <i class="fa-solid" [ngClass]="{'fa-plus': !new, 'fa-check': new }"></i>
      </button>
      <samp style="margin-left: 5px;" *ngIf="new"></samp>
      <button type="button" *ngIf="new" (click)="cancel(new)" class="btn btn-outline-danger btn-sm">
        <i class="fa-solid fa-x"></i>
      </button>
    </div>
  </div>
  <div>
    <!--'idGuide', 'client', 'cellars', 'company', 'destinations',  'km', 'status', 'actions'-->
    <table mat-table [dataSource]="dataSource" class="table table-striped table-hover">
      <ng-container matColumnDef="idGuide">
        <th scope="col" *matHeaderCellDef>N° Guia</th>
        <td scope="row" *matCellDef="let element">0000{{ element.idGuide }}</td>
      </ng-container>
      <ng-container matColumnDef="company">
        <th scope="col" *matHeaderCellDef>Empresa<th>
        <td scope="row" *matCellDef="let element">{{ element.company }}</td>
      </ng-container>
      <ng-container matColumnDef="location">
        <th scope="col" *matHeaderCellDef>Bodega<th>
        <td scope="row" *matCellDef="let element">{{ element.location }}</td>
      </ng-container>
      <ng-container matColumnDef="client">
        <th scope="col" *matHeaderCellDef>Cliente</th>
        <td scope="row" *matCellDef="let element">{{ element.client }}</td>
      </ng-container>
      <ng-container matColumnDef="destinations">
        <th scope="col" *matHeaderCellDef>Destino</th>
        <td scope="row" *matCellDef="let element">{{ element.destinations }}</td>
      </ng-container>
      <ng-container matColumnDef="km">
        <th scope="col" *matHeaderCellDef>Recorido</th>
        <td scope="row" *matCellDef="let element">{{ element.km }} Km</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th scope="col" *matHeaderCellDef>Tipo de Viaje</th>
        <td scope="row" *matCellDef="let element">{{ travels(element.status) }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th scope="col" *matHeaderCellDef></th>
        <td scope="row" *matCellDef="let element">
          <div class="">
            <button class="spacer btn btn-outline-success btn-sm">
              <i class="fa-solid fa-box"></i>
            </button>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="star" stickyEnd>
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="Edit(element.idGuide)">
              <i class="spacer fa-solid fa-file-pen"></i>
              <span style=" margin-left: 5px;"></span>
              <span>Editar</span>
            </button>
            <button mat-menu-item (click)="delete(element.idGuide)">
              <i class="spacer fa-solid fa-trash-can"></i>
              <span style=" margin-left: 5px;"></span>
              <span>Eliminar</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="8">No hay Datos</td>
      </tr>
    </table>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-success" [mat-dialog-close]="this.dataSource.data" cdkFocusInitial>Guardar Ruta</button>
</mat-dialog-actions>
