<mat-toolbar class="text-white bg-primary">
  <span>Costos Extras</span>
  <span class="fill-remaining-space"></span>
  <button mat-icon-button [mat-dialog-close]="true" aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content style="max-height: unset !important;">
  <form>
    <table class="table">
      <thead>
        <tr class="table-primary">
          <th scope="col">NOMBRE</th>
          <th scope="col">COSTO VIAJE</th>
          <th scope="col">KILÓMETROS X VIAJE</th>
          <th scope="col">CANTIDAD X VIAJE</th>
          <th scope="col">COSTO X KM</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>DIESEL</th>
          <td><input class="form-control form-control-sm text-end" min="0" step="0.01" pattern="^[0-9]+" type="number" placeholder="100" value="75"></td>
          <td><input class="form-control form-control-sm text-end" min="0" step="0.01" pattern="^[0-9]+" type="number" placeholder="100" value="6"></td>
          <td><input class="form-control form-control-sm text-end" min="0" step="0.01" pattern="^[0-9]+" type="number" placeholder="100" value="0.00094"></td>
          <td><input class="form-control form-control-sm text-end" min="0" step="0.01" pattern="^[0-9]+" type="number" placeholder="100" value="0.00094"></td>
        </tr>
        <tr>
          <th>PEAJE</th>
          <td><input class="form-control form-control-sm text-end" min="0" step="0.01" pattern="^[0-9]+" type="number" placeholder="100" value="75"></td>
          <td><input class="form-control form-control-sm text-end" min="0" step="0.01" pattern="^[0-9]+" type="number" placeholder="100" value="6"></td>
          <td><input class="form-control form-control-sm text-end" min="0" step="0.01" pattern="^[0-9]+" type="number" placeholder="100" value="0.00094"></td>
          <td><input class="form-control form-control-sm text-end" min="0" step="0.01" pattern="^[0-9]+" type="number" placeholder="100" value="0.00094"></td>
        </tr>
        <tr>
          <th>VIÁTICOS</th>
          <td><input class="form-control form-control-sm text-end" min="0" step="0.01" pattern="^[0-9]+" type="number" placeholder="100" value="75"></td>
          <td><input class="form-control form-control-sm text-end" min="0" step="0.01" pattern="^[0-9]+" type="number" placeholder="100" value="6"></td>
          <td><input class="form-control form-control-sm text-end" min="0" step="0.01" pattern="^[0-9]+" type="number" placeholder="100" value="0.00094"></td>
          <td><input class="form-control form-control-sm text-end" min="0" step="0.01" pattern="^[0-9]+" type="number" placeholder="100" value="0.00094"></td>
        </tr>
        <tr>
          <th>PESAS Y BALANZA</th>
          <td><input class="form-control form-control-sm text-end" min="0" step="0.01" pattern="^[0-9]+" type="number" placeholder="100" value="75"></td>
          <td><input class="form-control form-control-sm text-end" min="0" step="0.01" pattern="^[0-9]+" type="number" placeholder="100" value="6"></td>
          <td><input class="form-control form-control-sm text-end" min="0" step="0.01" pattern="^[0-9]+" type="number" placeholder="100" value="0.00094"></td>
          <td><input class="form-control form-control-sm text-end" min="0" step="0.01" pattern="^[0-9]+" type="number" placeholder="100" value="0.00094"></td>
        </tr>
        <tr>
          <th>CARGUE Y DESCARGUE</th>
          <td><input class="form-control form-control-sm text-end" min="0" step="0.01" pattern="^[0-9]+" type="number" placeholder="100" value="75"></td>
          <td><input class="form-control form-control-sm text-end" min="0" step="0.01" pattern="^[0-9]+" type="number" placeholder="100" value="6"></td>
          <td><input class="form-control form-control-sm text-end" min="0" step="0.01" pattern="^[0-9]+" type="number" placeholder="100" value="0.00094"></td>
          <td><input class="form-control form-control-sm text-end" min="0" step="0.01" pattern="^[0-9]+" type="number" placeholder="100" value="0.00094"></td>
        </tr>
        <tr>
          <th>CARAVANA</th>
          <td><input class="form-control form-control-sm text-end" min="0" step="0.01" pattern="^[0-9]+" type="number" placeholder="100" value="75"></td>
          <td><input class="form-control form-control-sm text-end" min="0" step="0.01" pattern="^[0-9]+" type="number" placeholder="100" value="6"></td>
          <td><input class="form-control form-control-sm text-end" min="0" step="0.01" pattern="^[0-9]+" type="number" placeholder="100" value="0.00094"></td>
          <td><input class="form-control form-control-sm text-end" min="0" step="0.01" pattern="^[0-9]+" type="number" placeholder="100" value="0.00094"></td>
        </tr>
        <tr class="table-warning fw-bold">
          <td></td>
          <td></td>
          <td></td>

          <th class="text-end">TOTAL</th>
          <td><input class="form-control form-control-sm text-end" min="0" step="0.01" pattern="^[0-9]+" type="number" placeholder="100" value="0,406"></td>
        </tr>
      </tbody>
    </table>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-success" (click)="save()" [mat-dialog-close]="true" cdkFocusInitial>Guardar</button>
</mat-dialog-actions>
