.content {
  background: #FDFEFE ;
  height: 89.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  justify-content: center;
  background-color: rgb(251, 252, 252);
  align-items: center;
  width: 800px;
  display: block;
}
