<div class="content">
    <div class="login">
      <h3  class="text-center fw-bolder">Restablecimiento de contraseña</h3>
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center fw-bolder">Has olvidado tu contraseña</h3>
          <h6 class="text-center">Ingrese su correo electrónico con el que está Registrado</h6>
          <form [formGroup]="emailform">
            <div class="form-group">
              <input
                type="email"
                [ngClass]="{'is-invalid': isValidField('email'), 'is-valid': emailform.get('email').valid }"
                formControlName="email"
                class="form-control"
                aria-describedby="emailHelp"
                placeholder="example@example.com">
              <small class="form-text text-danger" *ngIf=" isValidField('email') || false">
                {{ errorMessage('email') }}
              </small>
            </div>
            <div class="mt-4"></div>
            <div *ngIf="erroremail || false" class="alert alert-dismissible alert-danger">
              <h4 class="alert-heading">Email Incorrecto</h4>
              <p class="mb-0">En Correo Electrónico no está anexado a Ninguna Cuenta Registrada, Por favo revisa y Vuelve a intentarlo
                <a href="mailto:loga95luis@gmail.com" class="alert-link">Si no recuerda su correo comuníquese con el administrador</a>.
              </p>
            </div>
            <div class="mt-1"></div>
            <div class="d-flex justify-content-between">
              <button type="button" class="btn btn-danger" [routerLink]="['/login']">Atras</button>
              <button type="button" class="btn btn-success" [disabled]="!emailform.valid" (click)="send()">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
