<div class="notfound ">
  <div class="message card mb-3">
    <div class="card-body">

      <br>
      <h1 class="text">404</h1>
      <br>
      <h2 class="text1 mt-4">OPP! PAGE NOT FOUND</h2>
      <h3 class="text2 mt-4">Lo sentimos la pagina que quiere visualizar no existe o esta en Manteniniento.</h3>
      <h3 class="text2">Si el problema continua, Reportalo</h3>
      <div class="row mt-4 text-center">
        <div class="col">
          <button type="button" class="btn btn-primary" [routerLink]="['/']">Regresar al Inicio</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-warning">Reporta Problema</button>
        </div>
      </div>
    </div>
  </div>
</div>
