img{
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 60px !important;
  height: 60px !important;
}

.textv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textl {
  margin-top: 20%;
}

.cr {
  width: 100%;
}

.cr1{
  margin: 10px;
}
