<div class="content">
  <div class="login">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title text-center fw-bolder">Restablecer Contraseña</h3>
        <form [formGroup]="passwordform">
        <div class="form-group">
          <label class="form-label mt-2 fw-bolder">Contraseña</label>
          <div class="input-group">
            <input
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
              [ngClass]="{'is-invalid': isvalid('password'), 'is-valid': passwordform.get('password')?.valid }"
              class="form-control"
              aria-describedby="emailHelp"
              placeholder="Password">
              <span class="input-group-text bg-white" type="button" (click)="hide = !hide">
                <i class="fa-solid " [ngClass]="{'fa-eye': hide , 'fa-eye-slash': !hide }"></i>
              </span>
            </div>
          <small class="form-text text-danger" *ngIf=" isvalid('password') || false">
            Contraseña debe:
            <div *ngIf=" passwordform.get('password')?.errors?.hasNumber || false">* Tener al menos un Número</div>
            <div *ngIf=" passwordform.get('password')?.errors?.hasCapitalCase || false">* Tener al menos una letra Mayúscula</div>
            <div *ngIf=" passwordform.get('password')?.errors?.hasSmallCase || false">* Tener al menos una Letra Minúscula</div>
            <div>{{ errorMessage('password') }}</div>
          </small>
        </div>
        <div class="form-group">
          <label class="form-label mt-2 fw-bolder">Repita Contraseña</label>
          <div class="input-group">
            <input
            [type]="hide1 ? 'password' : 'text'"
            formControlName="password2"
            [ngClass]="{'is-invalid': isvalid('password2'), 'is-valid': passwordform.get('password2')?.valid }"
            class="form-control"
            placeholder="Password">
            <span class="input-group-text bg-white" type="button" (click)="hide1 = !hide1">
              <i class="fa-solid " [ngClass]="{'fa-eye': hide1 , 'fa-eye-slash': !hide1 }"></i>
            </span>
          </div>
          <small class="form-text text-danger" *ngIf=" isvalid('password2') || false">
            Contraseña debe Tener al menos:
            <div *ngIf=" passwordform.get('password2')?.errors?.hasNumber || false">* Tener al menos Un Número</div>
            <div *ngIf=" passwordform.get('password2')?.errors?.hasCapitalCase || false">* Tener al menos Una letra Mayúscula</div>
            <div *ngIf=" passwordform.get('password2')?.errors?.hasSmallCase || false">* Tener al menos Una Letra Minúscula</div>
            <div>{{ errorMessage('password2') }}</div>
          </small>
         <div class="mt-4"></div>
         <div class="d-grid gap-2">
          <button type="button" class="btn btn-success" [disabled]="!passwordform.valid" (click)="save()">Guardar</button>
          <button *ngIf="invalid || false" type="button" class="btn btn-dark" [routerLink]="['/reset-password']">Regresar</button>
         </div>
        </div>
      </form>
    </div>
  </div>
</div>
