<div class="container-fluid">
  <div class="mt-4"></div>
  <ol class="breadcrumb" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <li class="breadcrumb-item">
      <a class="text-info-emphasis" [routerLink]="['/displaypanel']">
        <i class="fa-solid fa-house"></i>
      </a>
    </li>
    <li class="breadcrumb-item"><a [routerLink]="['/displaypanel/business']">Empresa</a></li>
    <li class="breadcrumb-item active">Localidad</li>
  </ol>
  <div class="form-group d-flex justify-content-between">
    <h4 class="fw-bold">Localidad</h4>
    <button class="btn btn-lg btn-primary btn-sm" type="button" (click)="New()"><i class="fa-solid fa-plus"></i></button>
  </div>
  <div class="mt-1"></div>
  <div class="card">
    <form [formGroup]="localityform" class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label fw-bold">Localizacíon:</label>
            <div class="col-sm-8">
              <input type="text" [ngClass]="{'is-invalid': isvalid('location'), 'is-valid': localityform.get('location').valid }" placeholder="Localización" class="form-control form-control-sm" formControlName="location" required>
              <small class="form-text text-danger" *ngIf="isvalid('location') || false">
                {{ errorMessage('location') }}
              </small>
            </div>
            <div class="col-sm-1">
              <button class="btn btn-primary btn-sm" (click)="onOpenModalMaps()" [disabled]="!ed" type="button" id="button-addon2"><i class="fa-solid fa-location-dot"></i></button>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label fw-bold">Provincia:</label>
            <div class="col-sm-9">
              <select required class="form-select form-select-sm" [ngClass]="{'is-invalid': isvalid('idprovince'), 'is-valid': localityform.get('idprovince').valid }" formControlName="idprovince" required>
                <option value="">seleccione uno</option>
                <option *ngFor="let item of province" [value]="item.idprovince" >{{ item.name }} ( {{item.country}} )</option>
              </select>
              <small class="form-text text-danger" *ngIf="isvalid('idprovince') || false">
                {{ errorMessage('idprovince') }}
              </small>
            </div>
          </div>
        </div>
        <div class="col-sm-1">
          <div class="form-check mt-1">
            <input class="form-check-input" type="checkbox" checked="" formControlName="state">
            <label class="form-check-label">
              Activo
            </label>
          </div>
        </div>
        <div class="col-sm-1">
          <button type="button" class="spacer btn btn-outline-success btn-sm" [disabled]="!localityform.valid" (click)="save()">
            <i class="fa-solid fa-floppy-disk"></i>
          </button>
          <button type="button" class="spacer btn btn-outline-danger btn-sm" [disabled]="!ed" (click)="cancel()">
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="mt-1"></div>
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <div class="mb-1 row text-black">
        </div>
        <div class="spacer1"></div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label fw-bold">Buscar:</label>
          <div class="col-sm-8">
            <input type="text" class="form-control form-control-sm" (keyup)="applyFilter($event)" placeholder="Buscar">
          </div>
        </div>
      </div>
      <table mat-table [dataSource]="dataSource" class="table table-striped table-hover">
        <ng-container matColumnDef="idlocation">
          <th scope="col" *matHeaderCellDef>Id</th>
          <td scope="row" *matCellDef="let element">{{ element.idlocation }}</td>
        </ng-container>
        <ng-container matColumnDef="location">
          <th scope="col" *matHeaderCellDef>Nombre<th>
          <td scope="row" *matCellDef="let element">{{ element.location }}</td>
        </ng-container>
        <ng-container matColumnDef="state">
          <th scope="col" *matHeaderCellDef>Estado<th>
          <td scope="row" *matCellDef="let element"><input class="form-check-input" type="checkbox" disabled [checked]="element.state"></td>
        </ng-container>
        <ng-container matColumnDef="province">
          <th scope="col" *matHeaderCellDef>Provincia<th>
          <td scope="row" *matCellDef="let element">{{ element.province }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th scope="col" *matHeaderCellDef>Actiones</th>
          <td scope="row" *matCellDef="let element">
            <div class="">
              <button (click)="Edit(element.idlocation )" class="spacer btn btn-outline-warning">
                <i class="fa-solid fa-file-pen"></i>
              </button>
              <button (click)="delete(element.idlocation  )" class="spacer btn btn-outline-danger">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator #scheduledOrdersPaginator
      [length]="length"
      [pageSize]="5"
      [pageSizeOptions]="pageSizeOptions"
      aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</div>
