<!--<app-header (toggleSidenav)="sidenav.toggle()"></app-header>
<mat-drawer-container>
  <mat-drawer #sidenav mode ="side" [(opened)]="opened">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>-->

<mat-sidenav-container>
  <mat-sidenav #sidenav mode ="side" [(opened)]="opened">
    <mat-toolbar class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="./../assets/img/Ua8.png" alt="Logo" width="50" height="30" class="d-inline-block align-text-top">
          TransRoute
        </a>
      </div>
    </mat-toolbar>
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (toggleSidenav)="sidenav.toggle()"></app-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
  <app-footer></app-footer>
</mat-sidenav-container>
