<mat-toolbar class="text-white bg-primary">
  <span>{{ text }} Vehículo</span>
  <span class="fill-remaining-space"></span>
  <button mat-icon-button [mat-dialog-close]="true" aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content style="max-height: unset !important;">
  <form [formGroup]="vehicleform">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label fw-bold">Propietario:</label>
      <div class="col-sm-10">
        <select class="form-select form-select-sm" formControlName="idowner" [ngClass]="{'is-invalid': isvalid('idowner'), 'is-valid': vehicleform.get('idowner').valid }">
          <option value="">Seleccione</option>
          <option *ngFor="let item of owners" [value]="item.idowner" >{{ item.name }} ( {{ item.company }} )</option>
        </select>
        <small class="form-text text-danger" *ngIf="isvalid('idowner') || false">
          {{ errorMessage('idowner') }}
        </small>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-sm-1">
        <img class="image text-center" [src]="img">
      </div>
      <div class="col-sm-11">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label fw-bold">Modelo:</label>
              <div class="col-sm-9">
                <select class="form-select form-select-sm" formControlName="idvehicle_model" [ngClass]="{'is-invalid': isvalid('idvehicle_model'), 'is-valid': vehicleform.get('idvehicle_model').valid }" required>
                  <option value="">seleccione uno</option>
                  <option *ngFor="let item of vehiclemodels" [value]="item.idvehicle_model" >{{ item.manufacturer }} ( {{ item.model }} )</option>
                </select>
                <small class="form-text text-danger" *ngIf="isvalid('idvehicle_model') || false">
                  {{ errorMessage('idvehicle_model') }}
                </small>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label fw-bold">Conductor:</label>
              <div class="col-sm-9">
                <select class="form-select form-select-sm" formControlName="idemployee" [ngClass]="{'is-invalid': isvalid('idemployee'), 'is-valid': vehicleform.get('idemployee').valid }">
                  <option value=""  data-imgen="https://img.icons8.com/ios/50/circled-dot.png">Selecione uno</option>
                  <option *ngFor="let item of employee" [value]="item.idemployee">
                    ({{ item.identificationcard }}) {{ item.lastnames }} {{ item.names }}
                  </option>
                </select>
                <small class="form-text text-danger" *ngIf="isvalid('idemployee') || false">
                  {{ errorMessage('idemployee') }}
                </small>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label fw-bold">Uso:</label>
              <div class="col-sm-10">
                <select class="form-select form-select-sm" formControlName="idvehicle_use" [ngClass]="{'is-invalid': isvalid('idvehicle_use'), 'is-valid': vehicleform.get('idvehicle_use').valid }">
                  <option value="">seleccione uno</option>
                  <option *ngFor="let item of vehicleuse" [value]="item.idvehicle_use" >{{ item.vehicle_use }}</option>
                </select>
                <small class="form-text text-danger" *ngIf="isvalid('idvehicle_use') || false">
                  {{ errorMessage('idvehicle_use') }}
                </small>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label fw-bold">Asignado el:</label>
              <div class="col-sm-8">
                <input type="date" class="form-control form-control-sm" formControlName="agination_date" [ngClass]="{'is-invalid': isvalid('agination_date'), 'is-valid': vehicleform.get('agination_date').valid }">
                <small class="form-text text-danger" *ngIf="isvalid('agination_date') || false">
                  {{ errorMessage('agination_date') }}
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-9">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label fw-bold">Imagen:</label>
          <div class="col-sm-10">
            <input type="file" (change)="onChange($event)" class="form-control form-control-sm">
            <small class="form-text text-danger">
            </small>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label fw-bold">Estado:</label>
          <div class="col-sm-8">
            <div class="form-check mt-2">
              <input class="form-check-input" type="checkbox" checked="" formControlName="state">
              <label class="form-check-label">Activo</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <div class="card1 border-dark">
          <h6 class="text">Datos de Identificación:</h6>
          <div class="card-body1">
            <div class="row">
              <div class="col-sm-7">
                <div class="form-group row">
                  <label class="col-sm-5 col-form-label fw-bold">Matricula(Placa):</label>
                  <div class="col-sm-7">
                    <input type="text" (keyup)="IsTuitionValidate($event)" class="form-control form-control-sm" formControlName="tuition" [ngClass]="{'is-invalid': isvalid('tuition')  || errtuition, 'is-valid': vehicleform.get('tuition').valid }">
                    <small class="form-text text-danger" *ngIf="isvalid('tuition') || false">
                      {{ errorMessage('tuition') }}
                    </small>
                    <small class="form-text text-danger" *ngIf="errtuition || false">
                      {{ errmessage }}
                    </small>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-5 col-form-label fw-bold">Serial Motor:</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" formControlName="engine_series" [ngClass]="{'is-invalid': isvalid('engine_series'), 'is-valid': vehicleform.get('engine_series').valid }">
                    <small class="form-text text-danger" *ngIf="isvalid('engine_series') || false">
                      {{ errorMessage('engine_series') }}
                    </small>
                  </div>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label fw-bold">Color:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" formControlName="color" [ngClass]="{'is-invalid': isvalid('color'), 'is-valid': vehicleform.get('color').valid }">
                    <small class="form-text text-danger" *ngIf="isvalid('color') || false">
                      {{ errorMessage('color') }}
                    </small>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label fw-bold">Año:</label>
                  <div class="col-sm-8">
                    <select class="form-select form-select-sm" formControlName="year" [ngClass]="{'is-invalid': isvalid('year'), 'is-valid': vehicleform.get('year').valid }">
                      <option value="">seleccione uno</option>
                      <option *ngFor="let item of years" [value]="item" >{{ item }}</option>
                    </select>
                    <small class="form-text text-danger" *ngIf="isvalid('year') || false">
                      {{ errorMessage('year') }}
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group row mt-2">
          <label class="col-sm-2 col-form-label fw-bold">GPS:</label>
          <div class="col-sm-10">
            <select type="number" class="form-select form-select-sm" formControlName="idgps" [ngClass]="{'is-invalid': isvalid('idgps'), 'is-valid': vehicleform.get('idgps').valid }">
              <option [value]="1">(Ninguno)</option>
            </select>
            <small class="form-text text-danger" *ngIf="isvalid('idgps') || false">
              {{ errorMessage('idgps') }}
            </small>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label fw-bold">Horas de Uso:</label>
          <div class="col-sm-7">
            <input type="number" min="1" pattern="^[0-9]+" class="form-control form-control-sm" formControlName="hours_use" [ngClass]="{'is-invalid': isvalid('hours_use'), 'is-valid': vehicleform.get('hours_use').valid }">
            <small class="form-text text-danger" *ngIf="isvalid('hours_use') || false">
              {{ errorMessage('hours_use') }}
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-2"></div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label fw-bold">Kilometraje:</label>
          <div class="col-sm-8">
            <div class="input-group input-group-sm">
              <input type="number" class="form-control form-control-sm" formControlName="mileage" [ngClass]="{'is-invalid': isvalid('mileage'), 'is-valid': vehicleform.get('mileage').valid }">
              <span class="input-group-text form-control-sm">Km</span>
            </div>
            <small class="form-text text-danger" *ngIf="isvalid('mileage') || false">
              {{ errorMessage('mileage') }}
            </small>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group row">
          <label class="col-sm-5 col-form-label fw-bold">T.Combustible:</label>
          <div class="col-sm-7">
            <select class="form-select form-select-sm" formControlName="idfuel" [ngClass]="{'is-invalid': isvalid('idfuel'), 'is-valid': vehicleform.get('idfuel').valid }">
              <option value="">seleccione uno</option>
              <option *ngFor="let item of fuel" [value]="item.idfuel" >{{ item.type_fuel }}</option>
            </select>
            <small class="form-text text-danger" *ngIf="isvalid('idfuel') || false">
              {{ errorMessage('idfuel') }}
            </small>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label fw-bold">Cap. Carga:</label>
          <div class="col-sm-8">
            <div class="input-group input-group-sm">
              <input type="number" class="form-control" formControlName="load_capacity" [ngClass]="{'is-invalid': isvalid('load_capacity'), 'is-valid': vehicleform.get('load_capacity').valid }">
              <span class="input-group-text">Kg</span>
            </div>
            <small class="form-text text-danger" *ngIf="isvalid('load_capacity') || false">
              {{ errorMessage('load_capacity') }}
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label fw-bold">Cap.Tanque:</label>
          <div class="col-sm-9">
            <div class="input-group input-group-sm">
              <input type="number" class="form-control form-control-sm" formControlName="tank_capacity" [ngClass]="{'is-invalid': isvalid('tank_capacity'), 'is-valid': vehicleform.get('tank_capacity').valid }">
              <span class="input-group-text form-control-sm">Gal</span>
            </div>
            <small class="form-text text-danger" *ngIf="isvalid('tank_capacity') || false">
              {{ errorMessage('tank_capacity') }}
            </small>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label fw-bold">Rendimiento:</label>
          <div class="col-sm-9">
            <div class="input-group input-group-sm">
              <input type="number" class="form-control" formControlName="yield_gallon" [ngClass]="{'is-invalid': isvalid('yield_gallon'), 'is-valid': vehicleform.get('yield_gallon').valid }">
              <span class="input-group-text">Kms por Galón</span>
            </div>
            <small class="form-text text-danger" *ngIf="isvalid('yield_gallon') || false">
              {{ errorMessage('yield_gallon') }}
            </small>
          </div>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label fw-bold">Obserbación:</label>
          <div class="col-sm-9">
            <textarea type="text" class="form-control form-control-sm" rows="3" formControlName="observation" [ngClass]="{'is-invalid': isvalid('observation'), 'is-valid': vehicleform.get('observation').valid }"></textarea>
            <small class="form-text text-danger" *ngIf="isvalid('observation') || false">
              {{ errorMessage('observation') }}
            </small>
          </div>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-success" (click)="save()" [disabled]="!vehicleform.valid || errtuition">Guardar</button>
</mat-dialog-actions>

