<div class="container-fluid">
  <div class="mt-4"></div>
  <ol class="breadcrumb" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/displaypanel']">
      <i class="fa-solid fa-house"></i>
    </a></li>
    <li class="breadcrumb-item"><a [routerLink]="[ '/displaypanel/vehicle/' ]">Vehículos</a></li>
    <li class="breadcrumb-item active">Fabricante</li>
  </ol>
  <div class="form-group d-flex justify-content-between">
    <h4 class="fw-bold">Fabricante</h4>
    <button class="btn btn-lg btn-primary btn-sm" type="button" (click)="New()"><i class="fa-solid fa-plus"></i></button>
  </div>
  <div class="mt-1"></div>
  <div class="card">
    <form [formGroup]="manufacturerform" class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label fw-bold">Nombre:</label>
            <div class="col-sm-8">
              <input type="text" placeholder="Nombre" class="form-control form-control-sm" [ngClass]="{'is-invalid': isvalid('name'), 'is-valid': manufacturerform.get('name').valid }" formControlName="name">
              <small class="form-text text-danger" *ngIf="isvalid('name') || false">
                {{ errorMessage('name') }}
              </small>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label fw-bold">Tipo de Modelo:</label>
            <div class="col-sm-8">
              <input type="text" placeholder="Tipos de modelos" class="form-control form-control-sm" [ngClass]="{'is-invalid': isvalid('model_types'), 'is-valid': manufacturerform.get('model_types').valid }" formControlName="model_types">
              <small class="form-text text-danger" *ngIf="isvalid('model_types') || false">
                {{ errorMessage('model_types') }}
              </small>
            </div>
          </div>
        </div>
        <div class="col-sm-1">
          <button type="button" class="spacer btn btn-outline-success btn-sm" [disabled]="!manufacturerform.valid" (click)="save()">
            <i class="fa-solid fa-floppy-disk"></i>
          </button>
          <button type="button" class="spacer btn btn-outline-danger btn-sm" [disabled]="!ed" (click)="cancel()">
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="mt-1"></div>
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <div class="mb-1 row text-black"></div>
        <div class="spacer1"></div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label fw-bold">Buscar:</label>
          <div class="col-sm-8">
            <input type="text" class="form-control form-control-sm" (keyup)="applyFilter($event)" placeholder="Buscar">
          </div>
        </div>
      </div>
      <!--'idmanufacturer', 'idmanufacturer', 'model_types'-->
      <table mat-table [dataSource]="dataSource" class="table table-hover">
        <ng-container matColumnDef="idmanufacturer">
          <th scope="col" *matHeaderCellDef>Id</th>
          <td scope="row" *matCellDef="let element">{{ element.idmanufacturer }}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th scope="col" *matHeaderCellDef>Nombre<th>
          <td scope="row" *matCellDef="let element">{{ element.name }}</td>
        </ng-container>
        <ng-container matColumnDef="model_types">
          <th scope="col" *matHeaderCellDef>Tipo de Modelo<th>
          <td scope="row" *matCellDef="let element">{{ element.model_types }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th scope="col" *matHeaderCellDef>Actiones</th>
          <td scope="row" *matCellDef="let element">
            <div class="">
              <button (click)="edit(element)" class="spacer btn btn-outline-warning">
                <i class="fa-solid fa-file-pen"></i>
              </button>
              <button (click)="delete(element.idmanufacturer)" class="spacer btn btn-outline-danger">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator #scheduledOrdersPaginator
      [length]="length"
      [pageSize]="5"
      [pageSizeOptions]="pageSizeOptions"
      aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</div>
