<div class="content">
  <div class="login">
    <div class="">
      <div class="">
        <h1 class="card-title">Bienvenidos</h1>
        <p class="card-text">El software para flotas de transporte que combina adaptabilidad e innovación</p>
        <div class="d-grid gap-2 d-md-block">
          <button class="btn btn-light" [routerLink]="['/login']">Iniciar Sesión</button>
          <button type="button" class="btn btn-link" [routerLink]="['/']"><span class="spacer">Solicita Cuenta</span></button>
        </div>
      </div>
    </div>
  </div>
</div>
