label {
  color: black;
}


fieldset {
  border: 1px solid #000;
}

.card-body1 {
  margin: 5px;
}

.card1 {
  border: solid 1px #000;
  border-radius: 5px;
  margin: 5px;
}

.text {
  width: 90px;
  font-size: xx-small;
  font-style: oblique;
  font-weight: bold;
  margin-top: -5px;
  margin-left: 5px;
  background: white;
  display: block;
}
