.content {
  background: #FDFEFE ;
  height: 89.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  justify-content: center;
  background-color: rgb(251, 252, 252);
  align-items: center;
  width: 400px;
  display: block;
}

.img1{
  text-align: center;
}

.link{
  margin-left: 15px;
}

.return{
  margin-left: 5px;
}

.full-width-input{
  width: 100%;
}

.card-body{
  background: #16a085;
}

.icos {
  background: #16a085;
  position: relative;
}

.btn1{
  border-right: none ;
}
