<div class="content">
  <div class="login">
    <mat-card>
      <mat-toolbar class="text-white card-body">
        <button mat-icon-button [routerLink]="['/']" aria-label="Regresar">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span style="margin-right: 20%;"></span>
        <span class="text-center">Iniciar Sesión</span>
      </mat-toolbar>
      <mat-card-content>
        <h2 class="text-center"></h2>
        <div class="mt-4"></div>
        <form [formGroup]="loginform" class="text-start">
          <div class="form-group">
            <div class="input-group input-group-sm">
              <span class="input-group-text icos text-white">
                <i class="fa-solid fa-user"></i>
              </span>
              <input type="text" formControlName="username" class="form-control" placeholder="Usuario" required>
            </div>
            <small class="form-text text-danger" *ngIf=" isValidField('username') || false">
              {{ errorMessage('username') }}
            </small>
          </div>
          <div class="mt-4"></div>
          <div class="form-group">
            <div class="input-group input-group-sm">
              <span class="input-group-text icos text-white">
                <i class="fa-solid fa-lock"></i>
              </span>
              <input [type]="hide ? 'password' : 'text'" formControlName="password" class="form-control btn1" placeholder="Contraseña" required>
              <span class="input-group-text bg-white" type="button" (click)="hide = !hide">
                <i class="fa-solid " [ngClass]="{'fa-eye': hide , 'fa-eye-slash': !hide }"></i>
              </span>
            </div>
            <small class="form-text text-danger" *ngIf=" isValidField('password') || false">
              {{ errorMessage('password') }}
            </small>
          </div>
          <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" [routerLink]="['/reset-password']">¿Olvide mi Contraseña?</a>
          <div class="mt-4"></div>
          <div class="d-grid gap-2 mt-2">
            <button class="btn btn-lg  btn-primary btn-sm" type="button" [disabled]="!loginform.valid" (click)="onLogin()">Acceder</button>
            <span class="text-center">No Tienes Cuenta: <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" [routerLink]="['/']">Solicitala Ahora</a></span>
          </div>
          <div class="mt-4"></div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
